*{
    margin: 0;
    padding: 0;
}


#top-paragraph{
  background-color: rgb(2,29,73);
  color: white;
  font-size: 12px ;  
  text-align: center;
  font-family:"Poppins", sans-serif ;
}
.content-header{
    display: flex;
    justify-content: space-around;
    gap: 40vw;
    padding: 8px;
    
            
}
h3{
    color:  rgb(2,29,73);
    font-size: 36px;
    font-family: serif;

}
.headerButton{
    background-color: rgb(255,71,0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0 20px;
    border-color: rgb(255,71,0);
    border-radius: 10px;
    box-shadow: 3px 3px 3px  rgb(2,29,73);     
    transition: all 250ms ease-in-out;
}
.headerButton:hover{
    cursor: pointer;
    background-color: white;
    color:  rgb(2,29,73);
    box-shadow: none;
    border-color:  rgb(2,29,73);
}

.sweetkickimg{
   rotate: 180deg;
    position: relative;
    left: 55vw;
    mix-blend-mode: multiply;
   
  
}
.content{
    background-color: rgb(234,234,242);
}
.sub-content-one{
    color:  rgb(2,29,73);
    font-family:"Poppins", sans-serif ;
    width: 38vw;
    position: relative;
    bottom: 50vh;
    left: 10em;
}
h1{
    font-size: 48px;
}
.sub-content-one p{
    font-weight: 600;
    font-size: 18px;
}
.sub-content-two{
    position: relative;
    bottom: 40vh;
    left: 10em;
    font-family: "Poppins" ;
    width: 38vw;

}
.sub-content-two p{
    color:  rgb(2,29,73);
}
.main-button{
    background-color: rgb(255,71,0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 6px 8vw;
    border-color: rgb(255,71,0);
    border-radius: 6px;
    box-shadow: 1.5px 1.5px 3px  rgb(2,29,73);  
    transition: all 250ms ease-in-out;
     
}
.main-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: none;
    border-color: black;
}
#rating{
    margin: 0 0 6px 20px;
    font-weight: 500;

}
#shipping{
    margin: 1em 0 0 10em;
    font-size: 14px;
    font-weight: 500;
}
.sub-content-two p:last-child{
    margin-left: 3.8em;
    font-size: 14px;
    font-weight: 500;
}
.footer-content{
    display: flex;
    height: 18vh;
    align-items: center;
    gap: 4em;
    background-color: rgb(2,29,74);

}
h2{
    color: white;
    font-family: "Poppins", sans-serif ;
    font-size: 38px;
    margin-left: 4em;
    font-weight: 600;


}
.footer-button{
    background-color: white;
    color: rgb(2,29,73);
    font-family: "Poppins", sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px 40px;
    border-color: rgb(255,71,0);
    border-radius: 6px;
    box-shadow: 2px 2px 1.5px  rgb(255,71,0) ;  
    transition: all 150ms ease-in-out;
}
.footer-button:hover{
    cursor: pointer;
    background-color: rgb(255,71,0);
    color: white;
    box-shadow: none;


}
.bestseller-products{
    /* display: flex; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,18rem);
    gap: 4rem;
    margin-block: 4rem;
    background-color: rgb(254,254,254); 

    
}
.balancePowderImg{
    border-radius: 12px;

}

.sweetkick-balancePowder{
    border: 2px solid rgb(247,247,247);
    /* border: 2px solid black; */
    width: 100%;
    max-width: 18rem;
    padding: 1.5rem;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: subgrid;
    /* gap: 1.5rem; */
    font-family: "poppins";
    border-radius: 12px;
    box-shadow: 8px 8px 8px rgb(248,248,248);
   
}

.sweetkick-ptags p:first-child{
    font-weight: 500;
    font-size: 20px;


}
.sweetkick-ptags p:last-child{
    font-size: 14px;
    font-weight: 400;
    /* border: 2px solid red; */
    max-height: 20rem;

}
.balancePowder-button{
    background-color: rgb(255,71,0);
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    padding: 16px 0;
    border: 1px solid rgb(2,29,73) ;
    border-radius: 12px;
    box-shadow: 4px 4px 3px  rgb(2,29,73);  
    transition: all 250ms ease-in-out;
    /* margin: 0 0 10px 0; */
     
}
.balancePowder-button:hover{
    cursor: pointer;
    background-color:  rgb(2,29,73);
    color: white;
    box-shadow: 4px 4px 3px  rgb(2,29,73);
    border-color: black;
}
.dollarsign{
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;

}
.fivestars{
    color: rgb(255,71,0);
    font-size: 13px;
    font-weight: 500;

}

#peppermintcool{
    color:rgb(90,226,203);
    font-size: 14px;
}

